/*HEAD START*/
.search{
	float: right;
}
.head{
	border-bottom: 3px solid #ccc;
}
/*HEAD END*/
/*PROGRESSBAR START*/
.prograssBar{
	width: 1200px;
	height: 119px;
	margin: 0 auto;
	padding-top: 1px;
}
.prograssBarLeft{
	float: left;
	width: 540px;
	height: 118px;
	line-height: 118px;
	font-size: 24px;
}
.prograssBarRight{
	float: right;
	width: 600px;
	height: 40px;
	margin-top: 38px;
}
.prograssBarRight div{
	width: 491px;
	height: 2px;
	background: #336600;
	margin: 6px 0 0 58px;
	position: relative;
}
.prograssBarRight div p{
	width: 15px;
	height: 15px;
	border: 2px solid #336600;
	background: #f9f9f9;
	border-radius: 50%;
	position: absolute;
	top: -7px;
}
.prograssBarRight div p:nth-of-type(1){
	left: -7.5px;
	position: relative;
}
.prograssBarRight div p:nth-of-type(2){
	left: 245px;
}
.prograssBarRight div p:nth-of-type(3){
	left: 483.5px;
}
.prograssBarRight div p:nth-of-type(1):after{
	content: '我的购物车';
	width: 100px;
	text-align: center;
	color: #999999;
	position: absolute;
	top: 18px;
	left: -45px;
}
.prograssBarRight div p:nth-of-type(2):after{
	content: '填写订单';
	width: 100px;
	text-align: center;
	color: #999999;
	position: absolute;
	top: 18px;
	left: -45px;
}
.prograssBarRight div p:nth-of-type(3):after{
	content: '付款，完成购买';
	width: 100px;
	text-align: center;
	color: #999999;
	position: absolute;
	top: 18px;
	left: -45px;
}
.prograssBarRight div p.active{
	background: #336600;
}
.prograssBarRight div p.active:after{
	color: #336600;
}
/*PROGRESSBAR END*/
/*ADDRESS START*/
.address{
	width: 1200px;
	height: 158px;
	margin: 0 auto 49px auto;
}
.address div:nth-of-type(1){
	position: relative;
	width: 283px;
	height: 158px;
	float: left;
	border: 1px solid #ccc;
	margin: 0 40px 0 0;
	background: url(../img/confirm_order_03.gif) no-repeat;
}
.address div:nth-of-type(1) p{
	color: #333;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #ccc;
	padding-left: 20px;
}
.address div:nth-of-type(1) p:nth-of-type(3){
	border-bottom: none;
}
.address div:nth-of-type(1):after{
	content: '';
	width: 38px;
	height: 38px;
	position: absolute;
	bottom: -1px;
	right: 0;
	background: url(../img/confirm_order_11.gif) no-repeat;
}
.address div:nth-of-type(2){
	width: 283px;
	height: 158px;
	float: left;
	border: 1px solid #ccc;
	margin: 0 40px 0 0;
}
.address div:nth-of-type(2) a{
	float: left;
	width: 31px;
	height: 31px;
	background: url(../img/confirm_order_07.gif) no-repeat;
	margin: 48px 0 0 125px;
}
.address div:nth-of-type(2) p{
	text-align: center;
	color: #aaaaaa;
	margin-top: 95px;
}
/*ADDRESS END*/
/*PAYMENT START*/
.payment{
	width: 1200px;
	height: 130px;
	margin: 0 auto;
	border-top: 1px solid #ccc;
}
.payment h2{
	font-size: 24px;
	height: 73px;
	line-height: 73px;
	font-weight: normal;
}
.payment ul{
	height: 32px;
	padding-left: 29px;
}
.payment li{
	margin-left: 20px;
	float: left;
	width: 100px;
	height: 32px;
	border: 1px solid #999;
	text-align: center;
	line-height: 30px;
}
.payment li.active{
	border: 2px solid #e4393c;
	background: url(../img/confirm_order_14.gif) no-repeat 84px 16px;
}
/*PAYMENT END*/
/*CONFIRM START*/
.confirm{
	width: 1200px;
	margin: 0 auto 100px auto;
	border-top: 1px solid #ccc;
	overflow: hidden;
}
.confirm h2{
	font-size: 24px;
	height: 73px;
	line-height: 73px;
	font-weight: normal;
}
.confirm>div{
	border: 1px solid #ccc;
}
.caption{
	width: 100%;
	height: 39px;
	border-bottom: 1px solid #ccc;
	background: #e8e8e8;
	line-height: 38px;
	font-size: 18px
}
.caption>span:nth-of-type(1){
	float: left;
	width: 509px;
	height: 100%;
	text-align: center;
}
.caption>span:nth-of-type(2){
	float: left;
	width: 192px;
	height: 100%;
	margin-left: 119px;
	text-align: center;
}
.caption>span:nth-of-type(3){
	float: left;
	width: 185px;
	height: 100%;
	text-align: center;
}
.caption>span:nth-of-type(4){
	float: left;
	width: 182px;
	height: 100%;
	text-align: center;
}
.details{
	width: 100%;
	height: 166px;
	background: #fff;
}
.details>div:nth-of-type(1){
	padding:30px 0 0 29px;
	text-align: left;
	float: left;
	width: 509px;
	height: 100%;
}
.details>div:nth-of-type(1) div{
	width: 106px;
	height: 106px;
	float: left;
	border: 1px solid #ccc;	
	margin-right: 17px;
	border-radius: 2px;
}
.details>div:nth-of-type(1) div img{
	width: 100%;
	height: 100%;
}
.details>div:nth-of-type(1) h4{
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	font-weight: normal;
}
.details>div:nth-of-type(1) p{
	height: 46px;
	line-height: 46px;
	color: #666;
	font-size: 14px;
}
.details>div:nth-of-type(1) span{
	float: left;
	width: 61px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	background: #ff3333;
	font-size: 14px;
	border-radius: 10px;
	margin-top: 3px;
}
.details>div:nth-of-type(1) span img{
	margin-left: 2px;
}
.details>div:nth-of-type(2){
	padding:61px 0 0 0;
	float: left;
	width: 192px;
	height: 100%;
	margin-left: 119px;
	text-align: center;
}
.details>div:nth-of-type(2) p{
	font-size: 18px;
	height: 24px;
	line-height: 24px;
}
.details>div:nth-of-type(2) del{
	color: #999999;
	height: 19px;
	line-height: 19px;
	font-size: 14px;
}
.details>div:nth-of-type(3){
	line-height: 166px;
	float: left;
	width: 185px;
	height: 100%;
	text-align: center;
}
.details>div:nth-of-type(4){
	line-height: 166px;
	float: left;
	width: 182px;
	height: 100%;
	text-align: center;
}
.details>div:nth-of-type(4) p{
	font-size: 18px;
	height: 24px;
	color: #CC3333;
}
.details>div:nth-of-type(4) b{
	height: 19px;
	line-height: 19px;
	font-size: 14px;
	font-weight: normal;
}
.coupon{
	width: 100%;
	height: 86px;
	background: #fff;
	border-top: 1px solid #ccc;
	padding-right: 30px;
}
.coupon>div{
	margin-top: 21px;
	width: 208px;
	float: right;
}
.coupon>div>a:nth-of-type(1){
	width: 15px;
	height: 15px;
	float: left;
	border: 1px solid #999;
	background: #ccc;
}
.coupon>div>b{
	font-weight: normal;
	color: #747474;
	float: left;
	margin: 0 0 0 7px;
}
.coupon>div span{
	float: right;
}
.coupon>div>a:nth-of-type(2){
	float: right;
	color: #6597fc;
	margin: 14px 98px 0 0;
}
.order{
	width: 100%;
	height: 194px;
	background: #f9f9f9;
	border-top: 1px solid #ccc;
	line-height: 38px;
}
.order>div:nth-of-type(1){
	float: left;
	width: 400px;
	height: 30px;
	margin: 20px 0 0 20px;
	line-height: 30px;
}
.order>div:nth-of-type(1) input{
	width: 322px;
	height: 30px;
	border: 1px solid #ccc;
	margin: 0;
	float: right;
}
.order>div:nth-of-type(2){
	width: 280px;
	height: 100%;
	float: right;
	margin-right: 30px;
}
.order>div:nth-of-type(2) p:nth-of-type(1){
	height: 62px;
	line-height: 62px;
}
.order>div:nth-of-type(2) p span{
	float: left;
	width: 140px;
	text-align: right;
	font-size: 16px;
}
.order>div:nth-of-type(2) p:nth-of-type(2){
	height: 25px;
}
.order>div:nth-of-type(2) p:nth-of-type(2) b{
	font-size: 30px;
	color: #ff3333;
	font-weight: normal;
	text-align: right;
	float: left;
	width: 140px;
	line-height: 25px;
}
.order>div:nth-of-type(2) p:nth-of-type(3){
	height: 45px;
	line-height: 45px;
	margin-top: 26px;
}
.order>div:nth-of-type(2) p:nth-of-type(3) button{
	width: 120px;
	height: 45px;
	float: right;
	border: none;
	background: #d22147;
	font-size: 22px;
	color: #fff;
}
.order>div:nth-of-type(2) p:nth-of-type(3) span{
	color: #6497fb;
	line-height: 45px;
	font-size: 14px;
	text-align: left;
}
.confirm>p{
	float: right;
	width: 265px;
	color: #999;
}
.confirm>p>a{
	border: 1px solid #999;
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 10px;
	background: url(../img/confirm_order_18.gif) no-repeat;
}
.confirm>p>span{
	float: right;
	margin-top: 10px;
	line-height: 15px;
}
/*CONFIRM END*/





