button img{
	width: 14px;
	height: 8px;
	margin-top: 5px;
}
.navs{
	position: absolute;
	top: -10px;
	left: 10px;
	z-index: 100;
}
.navs h2{
	width: 200px;
	height: 50px;
	background: #458902;
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	padding-left: 58px;
}
.nav ul{
	margin-left: 210px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.nav ul li{
	width: auto;
	float: left;
	height: 100%;
	margin-left: 88px;
}
.nav ul li a{
	color: #fff;
	padding: 0;
}
/*MAIN START*/
.main{
	width: 1200px;
	overflow: hidden;
	margin: 40px auto 0 auto;
}
.subnav{
	float: left;
	width: 200px;
	margin-left: 10px;
}
.subnav dl{
	width: 100%;
	color: #333;
	margin-bottom: 29px;
}
.subnav dt{
	width: 100%;
	height: 28px;
	font-size: 18px;
	line-height: 18px;
}
.subnav dt a{
	float: left;
	width: 16px;
	height: 16px;
	line-height: 14px;
	margin: 1px 7px 0 0;
	text-align: center;
	background: #f2f2f2;
	border: 1px solid #cdcdcd;
}
.subnav dd{
	width: 100%;
	height: 25px;
	padding-left: 23px;
}
.subnav dd a{
	color: #333;
}
.subnav dd a.active{
	color: #458902;
}
.mainRight{
	width: 990px;
	float: right;
	height: 100%;
}
.mainRight h2{
	height:40px;
	font-size: 20px;
	border: 1px solid #ccc;
	background: #e0efe0;
	color: #339900;
	padding-left: 11px;
	line-height: 38px;
	font-weight: normal;
}
.order{
	width: 100%;
	height: 515px;
}
.order>h3{
	height: 62px;
	padding-left: 12px;
	font-size: 18px;
	font-weight: normal;
	padding-top: 30px;
}
.order>div{
	width: 100%;
	height: 453px;
	border: 1px solid #ccc;
}
.order .line1{
	height: 89px;
	border-bottom: 1px solid #ccc;
	background: #fff;
	padding: 29px 0 0 50px;
}
.order .line1 p{
	width: 163px;
	height: 30px;
	float: left;
	margin-right: 33px;
	background: url(../img/order_details_03.gif) no-repeat right center;
}
.order .line1 p span:nth-of-type(1){
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #a9da78;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	color: #fff;
}
.order .line1 p span:nth-of-type(2){
	float: left;
	color: #a9da78;
	line-height: 30px;
	font-size: 18px;
	margin-left: 12px;
}
.order .line1 p:last-child{
	width: 120px;
	background: none;
}
.order .line1 p:last-child span:nth-of-type(1){
	background: #999;
}
.order .line1 p:last-child span:nth-of-type(2){
	color: #999;
}
.order .line1 p.active{
	background: url(../img/order_details_05.gif) no-repeat right center;
}
.order .line1 p.active span:nth-of-type(1){
	background: #458902;
}
.order .line1 p.active span:nth-of-type(2){
	color: #458902;
}
.order .line2{
	height: 362px;
	padding: 31px 0 0 61px;
}
.order .line2>h4{
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	position: relative;
}
.order .line2>h4:before{
	width: 20px;
	height: 20px;
	position: absolute;
	content: '';
	background: url(../img/order_details_10.gif) no-repeat;
	top: 0;
	left: -30px;
}
.order .line2>button:nth-of-type(1){
	width: 86px;
	height: 36px;
	font-size: 16px;
	line-height: 20px;
	margin: 15px 0 10px 0;
	background: #51b8f1;
	border: 1px solid #ccc;
	color: #fff;
}
.order .line2>p{
	height: 36px;
	line-height: 36px;
}
.order .line2>p>span{
	margin-right: 32px;
}

.order .line2>ul{
	width: 100%;
	height: 149px;
	border-top: 1px solid #ccc;
	position: relative;
}
.order .line2 li{
	height: 37px;
	color: #999999;
	line-height: 37px;
}
.order .line2 li span:nth-of-type(1){
	float: left;
	width: 159px;
}
.order .line2 li span:nth-of-type(2){
	width: 7px;
	height: 7px;
	float: left;
	border-radius: 50%;
	background: #999;
	margin: 15px 20px 0 0;
}
.order .line2>ul:after{
	content: '';
	width: 1px;
	height: 104px;
	background: #999;
	position: absolute;
	top: 22px;
	left: 162px;
}
.order .line2 li span:nth-of-type(3){
	float: left;
	position: relative;
}
.order .line2 li.active span:nth-of-type(3){
	color: #458902;
}
.order .line2 li.active span:nth-of-type(3):before{
	content: '';
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background:url(../img/order_details_14.gif) no-repeat;
	position: absolute;
	top: 11px;
	left: -32px;
	z-index: 10;
}
.order .line2>button:nth-of-type(2){
	width: 93px;
	height: 34px;
	font-size: 14px;
	line-height: 20px;
	margin: 14px 0 0 0;
	background: none;
	border: 1px solid #999;
	color: #333;
}
.order .line3>h4{
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	position: relative;
}
.info{
	width: 100%;
	height: 212px;
}
.info>h3{
	height: 62px;
	padding-left: 12px;
	font-size: 18px;
	font-weight: normal;
	padding-top: 30px;
}
.info>div{
	height: 141px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 16px 0 0 12px;
}
.info>div p{
	height: 27px;
	line-height: 27px;
	font-size: 16px;
}
.info>div p span{
	margin-right: 15px;
}
.info>div p b{
	color: #ff3333;
	font-weight: normal;
}
.pro{
	width: 100%;
	height: 370px;
}
.pro>h3{
	height: 62px;
	padding-left: 12px;
	font-size: 18px;
	font-weight: normal;
	padding-top: 30px;
}
.pro>div{
	border: 1px solid #ccc;
}
.line1{
	width: 100%;
	height: 39px;
	border-bottom: 1px solid #ccc;
	background: #e8e8e8;
	line-height: 38px;
	font-size: 18px
}
.column2{
	float: left;
	width: 415px;
	height: 100%;
	text-align: left;
	padding-left: 10px;
}
.column3{
	float: left;
	width: 193px;
	height: 100%;
	text-align: center;
}
.column4{
	float: left;
	width: 188px;
	height: 100%;
	text-align: center;
}
.column5{
	float: left;
	width: 192px;
	height: 100%;
	text-align: center;
}
.line2{
	width: 100%;
	height: 166px;
	background: #fff;
}
.line2 .column2{
	padding:30px 0 0 10px;
	text-align: left;
}
.line2 .column2 div{
	width: 106px;
	height: 106px;
	float: left;
	border: 1px solid #ccc;	
	margin-right: 17px;
	border-radius: 2px;
}
.line2 .column2 div img{
	width: 100%;
	height: 100%;
}
.line2 .column2 h4{
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	font-weight: normal;
}
.line2 .column2 p{
	height: 46px;
	line-height: 46px;
	color: #666;
	font-size: 14px;
}
.line2 .column2 span{
	float: left;
	width: 61px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	background: #ff3333;
	font-size: 14px;
	border-radius: 10px;
	margin-top: 3px;
}
.line2 .column2 span img{
	margin:5px 0 0 2px;
	width: 10px;
	height: 11px;
}
.line2 .column3{
	padding:61px 0 0 0;
}
.line2 .column3 p{
	font-size: 18px;
	height: 24px;
	line-height: 24px;
}
.line2 .column3 del{
	color: #999999;
	height: 19px;
	line-height: 19px;
	font-size: 14px;
}
.line2 .column4{
	line-height: 166px;
}
.line2 .column5{
	line-height: 166px;
}
.line2 .column5 p{
	font-size: 18px;
	height: 24px;
	color: #CC3333;
}
.line2 .column5 b{
	height: 19px;
	line-height: 19px;
	font-size: 14px;
	font-weight: normal;
}
.line3{
	width: 100%;
	height: 84px;
	border-top: 1px solid #ccc;
}
.line3 p{
	width: 284px;
	height: 43px;
	line-height: 32px;
	margin-left: 680px;
}
.line3 p:nth-of-type(1){
	line-height: 43px;
}
.line3 p span{
	float: left;
	width: 142px;
	text-align: right;
	font-size: 16px;
}
.line3 p:nth-of-type(2) b{
	font-size: 30px;
	color: #ff3333;
	font-weight: normal;
	text-align: right;
	float: left;
	width: 140px;
	line-height: 25px;
}

/*MAIN END*/







